@import "tailwindcss";

*{
  margin:0;
  padding:0;
  box-sizing:border-box;
}

body{
  font-family: Inter, sans-serif;
  background: linear-gradient(
    135deg,
    #020617,
    #0f172a,
    #111827
  );

  color:white;
}